# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Environment files
.env
*.env

# Docker
.dockerignore

# Kubernetes secrets (never push real secrets!)
**/secret.yaml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
